backports.entry-points-selectable==1.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
clips==1.1.0
clipspy==1.0.0
colorama==0.4.4
distlib==0.3.3
experta==1.9.4
filelock==3.3.0
Flask==2.0.2
frozendict==1.2
gunicorn==20.1.0
heroku==0.1.4
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
platformdirs==2.4.0
pycparser==2.21
python-dateutil==1.5
requests==2.26.0
schema==0.6.7
six==1.16.0
urllib3==1.26.7
virtualenv==20.8.1
virtualenvwrapper-win==1.2.6
Werkzeug==2.0.2
