<html>
<head>
 <title>Expert System</title>
</head>
<body>
<h2 align="center">Expert System</h2>
<h2 align="center">Pemilihan Jenis Potongan Daging</h2>
<form action="login.php" method="POST">
<table align="center" bgcolor="#00CED1" width=60%>
 <tr>
 <td>Jenis Masakan</td> <td>:</td> <td> <input type="text" name="Masakan" size="30" placeholder="Masukkan masakan yang ingin dibuat..."> </td></tr>
 <tr><td><input type="submit" name="submit" value="Submit"></td></tr>
 </form>
</table>
</body>
<p>By Kelompok 3:</p>
<p>18218014 Novindra Nurrosyid Al Haqi</p>
<p>18218030 Figo Agil Alunjati</p>
<p>18218037 Wita Dewisari Tasya</p>
</html>