<!DOCTYPE html>
<html>
<head>
 <title>Expert System</title>
</head>
<body>
<h2 align="center">Expert System</h2>
<h2 align="center">Pemilihan Jenis Potongan Daging</h2>
<form method="POST">
<table align="center" bgcolor="#00CED1" width=60%>
 <tr>
 <td>Jenis Masakan</td> <td>:</td> <td> <input type="text" name= Q1 size="30" placeholder="Masukkan masakan yang ingin dibuat..."> </td></tr>
 <tr><td><input type="submit" value="Submit" formaction="/"></td></tr>
 <tr><td>{{result}} </td></tr>
 </form>
</table>
</body>
<h6>Pilihan masakan:</h6>
<h6>sei sapi</h6>
<h6>daging asap</h6>
<h6>sup</h6>
<h6>rawon</h6>
<h6>soto</h6>
<h6>bakso</h6>
<h6>semur</h6>
<h6>steak</h6>
<h6>sup iga</h6>
<h6>iga bakar</h6>
<h6>konro</h6>
<h6>yakiniku</h6>
<h6>shabu-shabu</h6>
<h6>daging cincang</h6>
<h6>kornet</h6>
<h6>bacon sapi</h6>
<h6>sate</h6>
<h6>abon</h6>
<h6>oseng daging</h6>
<h6>rendang</h6>
<h6>dendeng</h6>
<h6>tumis lidah</h6>
<h6>bahan aditif</h6>
<h6>empal</h6>
<h6>bakso urat</h6>
<h6>kaldu</h6>
<h6>buntut bakar</h6>
<h6>sate padang</h6>
<h6>lidah goreng</h6>

<h5>Updated 8 November 2021</h5>
<h5>BY KELOMPOK 3 18218014 - 18218030 - 18218037</h5>
</html>
