<!DOCTYPE html>
<html>
<head>
 <title>Expert System</title>
</head>
<body>
<h2 align="center">Expert System</h2>
<h2 align="center">Pemilihan Jenis Potongan Daging</h2>
<form method="POST">
<table align="center" bgcolor="#00CED1" width=60%>
 <tr>
 <td>Jenis Masakan</td> <td>:</td> <td> <input type="text" name= Q1 size="30" placeholder="Masukkan masakan yang ingin dibuat..."> </td></tr>
 <tr><td><input type="submit" value="Submit" formaction="/"></td></tr>
 <tr><td>{{result}} </td></tr>
 </form>
</table>
</body>
<h6>By Kelompok 3:</h5>
<h6>18218014 Novindra Nurrosyid Al Haqi</h6>
<h6>18218030 Figo Agil Alunjati</h6>
<h6>18218037 Wita Dewisari Tasya</h6>
</html>
